@charset "utf-8";

/*    Reset CSS  */
* { margin:0;  padding:0; }
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#bbb;}
img { border:0;}
body { width:100%; height:100%; background:#ffffff;}
 
/* nav 메뉴 설정 */
#nav{width:100%; height:80px; background-color: whitesmoke; position:fixed; left:0px;top:0px; z-index : 99; }
/* 로고 */
#nav #logo{display: inline-block; width : 116px; height : 30px; padding: 10px; position:absolute; top:20px; left:10px;}
/* 은행소개 */
#nav #menu1{display: inline-block; width : 100px; height : 30px; padding: 10px; position:absolute; top:20px; left:570px; letter-spacing: -2px;}
/* 투자정보 */
#nav #menu2{display: inline-block; width : 100px; height : 30px; padding: 10px; position:absolute; top:20px; left:680px; letter-spacing: -2px;}
/* 상품안내 */
#nav #menu3{display: inline-block; width : 100px; height : 30px; padding: 10px; position:absolute; top:20px; left:790px; letter-spacing: -2px;}
/* 고객센터 */
#nav #menu4{display: inline-block; width : 100px; height : 30px; padding: 10px; position:absolute; top:20px; left:900px; letter-spacing: -2px;}
/* 서류제출하기 */
#nav #menu5{display: inline-block; width : 120px; height : 25px; padding: 10px; position:relative; top:27px; left:1010px; 
    background-color: #FEDE22; border-radius: 40px; text-align: center; letter-spacing: -2px;
}
#menu5 span{display: inline-block; width : 120px; height : 25px; position: absolute; top:2px; left: 0px;}
/* 아이콘 */
#nav #menu6{display: inline-block; width : 70px; height : 30px; padding: 10px; position:absolute; top:22px; left:1200px;}


/* 배경동영상 */
#main { width:100%; height:725px; position:relative; }
#mainVideo iframe{ width:100%; height: 725px; 
            /* position: absolute;  */
            pointer-events: none;
}

/* 모바일로 볼때 */
@media screen and (max-width:767px) {
    /* mobileAccount 부분 전체 영역설정 */
    #mobileAccount{box-sizing:border-box;width:100%; height:1300px; padding:30px; }
        
    /* 이미지 영역 */
    #mobileAccount #mobileAccount_img{width:100%; height:50%; display: flex; justify-content: center;}
    #mobileAccount_img #mobileImg{width:75%; height:100%; }

    #mobileAccount #mobileAccount_text{width:100%; height:30%; position: relative; }
    #mobileAccount_text #mobileText{ width:100%; position:absolute; top: 70px; left:25%; }

    #mobileAccount #mobileAccount_button{width:100%; height:10%; position:relative; }
    #mobileText h1{font-size: 40px;}
    #mobileAccount_button button{padding-right:20px; width:300px; height: 50px; font-size:15px; 
        position: absolute; top:-10px; left:35%;
        background: #F6F6F6; border:0; border-color: #F6F6F6;}
    #mobileAccount_button button>a{color:black; }


    /* depositAccount 부분 영역설정 */
    #depositAccount{box-sizing:border-box; width:100%; height:1200px; padding:30px;  position:relative;}
    /* 이미지부분 */
    #depositAccount #depositAccount_img{width:100%; height:50%;  display: flex; justify-content:center; position: relative;  }
    #depositAccount_img #depositImg{width:75%; height:100%; position: absolute; left:100px;}
    /* 텍스트영역 */
    #depositAccount #depositAccount_text{width:100%; height:25%; position: relative; }
    #depositAccount_text #deposit_text{ width:100%; position:absolute; left: 20%; }
    /* 버튼영역부분 */
    #depositAccount #depositAccount_button{width:100%; height:25%; position: relative; }
    #depositAccount_button_button{width: 100%; height:50px;}
    #depositAccount_button #depositAccount_button_img{width:100%; height:150px; padding-top:50px;}
    #depositAccount_button_img img{width:90%; height:150px; position: absolute; top:130px; left:30px;}
    #depositAccount_button button{padding-right:20px; width:200px; height: 50px; font-size:15px; background: #F6F6F6; border:0; border-color: #F6F6F6; }
    #depositAccount_button_button #regul{width:35%; position:absolute; top:50px; left: 100px; }
    #depositAccount_button_button #free{width:35%; position:absolute; top:50px; left: 400px;}
    #depositAccount_button_button a{color: black;}    


    /* groupAccount 부분 영역설정 */
    #groupAccount{box-sizing:border-box;width:100%; height:1200px; padding:30px;  position:relative;}
    /* 모임통장 이미지 */
    #groupAccount #groupAccount_img{width:100%; height:50%;  position: relative; background-color: red;}
    #groupAccount_img #groupAccountImg{width:75%; height:100%; position: absolute; left:100px;}
    /* 모임통장 텍스트영역 */
    #groupAccount #groupAccount_text{width:100%; height:30%; position: relative; background-color: green;}
    #groupAccount_text #groupText{ width:100%; position:absolute; top: 150px; }
    /* 모임통장 버튼영역 */
    #groupAccount #groupAccount_button{width:100%; height:20%;  position:relative; background-color: yellow;}
    #groupAccount_button_button{padding-right:20px; width:300px; height: 50px; font-size:15px; 
        background: #F6F6F6; border:0; border-color: #F6F6F6;}
    #groupAccount_button_button>a{color:black; }
}

/* pc로 볼때 */
@media screen and (min-width:768px) {
    /* mobileAccount 부분 영역설정 */
#mobileAccount{box-sizing:border-box;width:100%; height:800px; padding:30px; position:relative;}
#mobileAccount #mobileAccount_img{width:60%; height:600px; float:left; display: flex; justify-content: center;}
#mobileAccount #mobileAccount_text{width:40%; height:350px; float:left; }
#mobileAccount #mobileAccount_button{width:40%; height:250px; float:left; position:relative;}
#mobileAccount_img #mobileImg{width:75%; height:650px; }
#mobileAccount_text #mobileText{ width:100%; position:absolute; top: 150px; }
#mobileText h1{font-size: 40px;}
#mobileAccount_button button{padding-right:20px; width:300px; height: 50px; font-size:15px; 
    position: absolute; top:30px;
    background: #F6F6F6; border:0; border-color: #F6F6F6;}
#mobileAccount_button button>a{color:black; }


/* depositAccount 부분 영역설정 */
#depositAccount{box-sizing:border-box;width:100%; height:800px; padding:30px; padding-left: 20%; position:relative; }
/* 이미지부분 */
#depositAccount #depositAccount_img{width:60%; height:600px; float:right; display: flex; justify-content:center; position: relative;  }
#depositAccount_img #depositImg{width:75%; height:700px; position: absolute; left:100px;}
/* 텍스트영역 */
#depositAccount #depositAccount_text{width:40%; height:250px; float:left;}
#depositAccount_text #deposit_text{ width:100%; position:absolute; top: 100px; }
/* 버튼영역부분 */
#depositAccount #depositAccount_button{width:40%; height:300px; float:left; position: relative;}
#depositAccount_button_button{width: 100%; height:50px;}
#depositAccount_button #depositAccount_button_img{width:100%; height:150px; padding-top:50px;}
#depositAccount_button_img img{width:90%; height:150px; position: absolute; top:130px;}
#depositAccount_button button{padding-right:20px; width:200px; height: 50px; font-size:15px; background: #F6F6F6; border:0; border-color: #F6F6F6; }
#depositAccount_button_button #regul{width:35%; position:absolute; top:50px; }
#depositAccount_button_button #free{width:35%; position:absolute; top:50px; left: 150px;}
#depositAccount_button_button a{color: black;}


/* groupAccount 부분 영역설정 */
#groupAccount{box-sizing:border-box;width:100%; height:800px; padding:30px;  position:relative;}
/* 모임통장 이미지 */
#groupAccount #groupAccount_img{width:60%; height:700px; float:left; position: relative;}
#groupAccount_img #groupAccountImg{width:75%; height:650px; position: absolute; left:100px;}
/* 모임통장 텍스트영역 */
#groupAccount #groupAccount_text{width:40%; height:350px; float:left;}
#groupAccount_text #groupText{ width:100%; position:absolute; top: 150px; }
/* 모임통장 버튼영역 */
#groupAccount #groupAccount_button{width:40%; height:350px;  float:left; position:relative;}
#groupAccount_button_button{padding-right:20px; width:300px; height: 50px; font-size:15px; 
    background: #F6F6F6; border:0; border-color: #F6F6F6;}
#groupAccount_button_button>a{color:black; }


/* remittAbroad 부분 영역설정 */
#remittAbroad{box-sizing:border-box;width:100%; height:800px; padding:30px; padding-left: 20%; position:relative;}
/* 이미지 영역 */
#remittAbroad #remittAbroad_img{width:60%; height:700px; float:right; display: flex; justify-content:center; position: relative; }
#remittAbroad_img #remittImg{width:75%; height:650px; position: absolute; top: 30px; left:20%;} 
/* 텍스트 영역 */
#remittAbroad #remittAbroad_text{width:40%; height:400px;  float:left;  }
#remittAbroad_text #remittText{width:100%; position:absolute; top: 100px; left:20%;}
/* 버튼영역 */
#remittAbroad #remittAbroad_button{width:40%; height:300px; float:left; position: relative;  }
#remittButton{padding-right:20px; width:300px; height: 50px; font-size:15px; background: #F6F6F6; border:0; border-color: #F6F6F6;
    position: absolute; left:20%;
}
#remittButton>a{color:black; }

/* <!-- 전월세 보증금 / 애니메이션 효과 들어가기 --> */
/* 영역설정 및 배경 애니메이션 효과 */
#depositOfHouse{  width:100%; height:725px; position:relative; }
#depositOfHouse #depositOfHouse_bg{ width:100%; height:100%; position:relative; 
    background-color: #333b58;
    animation: ani linear 10s infinite;
    /* 자식 영역들 중앙배치 */
    display: flex; justify-content: center;}

    /* 해모양 */
#depositOfHouse_bg .moon_original {
        position: absolute; top: 100px; right: 50px; width: 110px;
        height: 110px; border-radius: 55px;
        background-color: #ffdc00;
        animation: ani2 linear 10s infinite;
}
/* 애니메이션 정의 */
@keyframes ani {
    0%   {background-color: #559cde;  }
    25%   {background-color:  #333b58; }
    100% {background-color: #333b58; }
}
@keyframes ani2 {
    0%   {background-color:#ffdc00;  }
    50%{background-color: gray; }
    100% {background-color: gray; }
}

    /* 자식 영역들 개체들 */
#depositOfHouse #depositOfHouse_text{width: 80%; height:150px; position: absolute; top:100px; }
#depositOfHouse_text h1{font-weight: bold; font-size: 40px; color:white; text-align: center;}
#depositOfHouse_text p{ color:#8D92A2;  text-align: center;}

/* 이미지 영역 */
#depositOfHouse #depositOfHouse_img{width: 40%; height:410px; position: absolute; top:300px;  }
#depositOfHouse_img #img{width: 100%; height:100%;}
/* 대출영역 버튼부분 */
#depositOfHouse #depositOfHouse_button{width: 60%; height:50px; position: absolute; top:250px; }
#depositOfHouse_button #마이너스{display: inline-block; width: 20%; height: 40px; position:absolute; top:5px; left:3%;  background-color: #454D67;}
#depositOfHouse_button #신용대출{display: inline-block; width:20%; height: 40px; position:absolute; top:5px; left:28%; background-color: #454D67;}
#depositOfHouse_button #개인사업자{display: inline-block; width:20%; height: 40px; position:absolute; top:5px; left:53%;  background-color:#454D67;}
#depositOfHouse_button #전월세보증금대출{display: inline-block; width:20%; height: 40px; position:absolute; top:5px; left:77%; background-color: #454D67;}
#depositOfHouse_button button{width:100%; height:100%; background-color: #454D67;}
#btn1>a{color:white;}

/* <!-- 카카오카드 안내 --> */
#choiceCard{box-sizing:border-box;width:100%; height:750px; padding:30px; 
    display: flex; justify-content: center; position:relative;}
/* 카드슬라이드쇼 텍스트 */
#choiceCard #choiceCard_Text{width: 60%; height:150px; position: absolute; top:50px; }
#choiceCard_Text h2 {text-align: center; font-size: 40px; letter-spacing: -3px;}
#choiceCard_Text p{text-align: center;}

/* 카카오 카드 버튼 */
#choiceCard #choiceCard_Button{width: 30%; height:70px; position: absolute; top:200px; }
#choiceCard_Button #choiceCard_Button_button{
    padding-right:20px; width:300px; height: 50px; font-size:15px; background: #F6F6F6; border:0; border-color: #F6F6F6;
    position: absolute; top:10px;
}

/* 카드 슬라이드쇼 */
#choiceCard #choiceCard_img{width: 80%; height:430px; position: absolute; top:280px; }
#choiceCard_img .carousel-inner{ display: flex; justify-content: center; padding-right: 20%;}
#choiceCard_img .carousel-inner img{width:200px; height: 400px;}


/* 회사 소개부분 이미지와 텍스트로 설정 */
#adKakaoBank{box-sizing:border-box;width:100%; height:650px;  
    display: flex; justify-content: center;
    position:relative;}
/*첫번째 이미지영역*/
#adKakaoBank #adpic{width:80%; height:300px; position:absolute; top:150px; }
#adpic img{width:100%; height: 90%;}
/* 첫번째 문구영역 */
#adKakaoBank #pic1{width: 20%; height:100px;  position:absolute; top:450px; left:10%;}    
#adKakaoBank #pic2{width: 20%; height:100px; position:absolute; top:450px; left:30%;}    
#adKakaoBank #pic3{width: 20%; height:100px; position:absolute; top:450px; left:70%;}    

/* footer영역 설정 */
#footer{ box-sizing:border-box; width:100%; height:230px; padding-left:5%; padding-right:5%;  
    /* display: flex; justify-content: center; */ 
    background-color: #eeeeee;}
/* 풋터 메뉴 블럭화해서 나열 */
#footer_menu li{display: inline-block; position:relative; width:210px; font-size:10px; }
#footer_menu a{color:black }
/* 로고 사이즈 및 위치 조정 */
#footer_logo{ width:90%; height:100px; position: relative;}
#footer_logo #logo1{display:inline-block; padding: 0px 15px; padding-top:10px; position: relative;}
#logo1 img{width:42px; height:42px; padding-top:10px;}
#footer_logo #logo2{display:inline-block; padding: 10px 15px; position: relative;}
#logo1 span{font-size:20px;  }
#logo2 span{font-size:20px; }
#logo2 img{width:42px; height:42px;padding-top:10px;}
#footer_sns{display: inline-block; float:right;}
#sns li{display: inline-block; width:42px; height:42px;padding:5px 15px;}
#sns a{font-size:40px;}


}


